<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello everyone i am  kalpana</h1>
    <hr>
    {{ Data }}
    <h3>This is my first django </h3>
    <ul>
        {% for j in Roll_Number %}
        <li>{{ j }}</li>
        {% endfor %}
    </ul>
    {{ variable_name }}
my first name is {{first}} and second name is {{second}}
</body>
</html>